body {
    background-color:#26292c
    !important;
    min-width: 100%;
    min-height: 100%;
  }
  .imagenCv {
    border-radius: 50%;
    height: 21rem;
    width: 19rem;
  }
  .containerPresentacion {
  
   margin-top: 10%;
    position: relative;
    padding-bottom: 20px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    overflow: hidden; /* Oculta el contenido que se desborda */
  }
  .containerPresentacion::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#418b79;
}

.containerPresentacion:hover::after{
  animation: slide 5s linear  ; 
  animation-iteration-count: 0.25; 
} 






  /* .containerPresentacion:not(:hover)::after{
    width: 100%;
  } */
  .rowSobreMi {
    min-width: 100%;
  }
  .colPresentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .colWomanDev {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
  
  .womanDevPic {
    height: 18rem;
    width: 18rem;
  
    
  }
  .miNombre {
    font-family: "Gill Sans";
    font-size: 3em;
    color: #f5f6f6;
  }
  .miCarrera {
    /* font-family: "Gill Sans"; */
    font-size: 1.8rem;
    color: #f5f6f6;
  }
  