.containerProjects{
    position: relative;
    padding-bottom: 20px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    overflow: hidden; 

}
.containerProjects::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#418b79;
}
.containerProjects:hover::after{
  animation: slide 5s linear  ; 
  animation-iteration-count: 0.25;
  
}


.colTittleProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
.tittleProjects{
  
    transform: rotate(0deg); 
    padding-top: 3%;
    font-size: 3em;
    color: #2fe7b9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colProjects {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f6f6;
    
 
}

.card{
    border-color: #ffffff!important;
    border-width: 0.01em;
    background-color: transparent!important;
    color: #f6fcfa;
    border-radius: 4px;
    /* height: 26em; */
    width: 14em!important;
    padding: 0;
    margin: 10px;
    text-align: center;
}
.image{
    height: 8rem;
    
}

.badgeTech{
    background-color: #418b79!important;
    /* background-color: transparent!important; */
    font-size: 0.55em;
    margin-top: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    color: #f5f6f6;
}
.divBadge{
    margin-top: 1em;
    margin-bottom: 0.5em;
    height: 2.5em;
    justify-content: center;
    align-content: center;
}
.description{
    font-size: 0.75em;
}
.divDescription{
    height: 2.3em;
}
.cardLink{
    font-size: 0.7em;
    color:#2fe7b9;
}
.slider{
    width: 32em!important;
}


@media screen and (max-width:992px ){
    .colTittleProjects{
       display: flex;
       flex-direction:column!important;
       padding: 1em!important;
    }
    .tittleProjects{
        font-size: 2.8em;
        padding-top: 0%;
        padding-bottom: 1%;
      }
      .slider{
        width: 40em!important;
    }

    }
 

    @media screen and (max-width:992px ){
        .colTittleProjects{
           display: flex;
           flex-direction:column!important;
           padding: 1em!important;
        }
        .tittleProjects{
            font-size: 2.8em;
            padding-top: 0%;
            padding-bottom: 1%;
          }
          .slider{
            width: 80%!important;
            margin: 0;
        }
        .card{
            border-color: #ffffff!important;
            border-width: 0.01em;
            background-color: transparent!important;
            color: #f6fcfa;
            border-radius: 4px;
            /* height: 26em; */
            width: 10em!important;
            padding: 0;
            margin: 5px;
            text-align: center;
        }
        }