.containerProjects{
    position: relative;
    padding-bottom: 20px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    overflow: hidden; 

}
.containerProjects::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#418b79;
}
.containerProjects:hover::after{
  animation: slide 5s linear  ; 
  animation-iteration-count: 0.25;
  
}


.colTittleProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
.tittleProjects{
  
    transform: rotate(0deg); 
    padding-top: 3%;
    font-size: 3em;
    color: #2fe7b9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colProjects {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f6f6;
    
 
}

.card{
    border-color: #ffffff!important;
    border-width: 0.01em;
    background-color: transparent!important;
    color: #f6fcfa;
    border-radius: 4px;
    height: 10em;
    width: 25em!important;
    padding: 10px;
    margin: 10px;
    text-align: center;
  
    
}
.slider{
    width: 28em!important;
}


@media screen and (max-width:992px ){
    .colTittleProjects{
       display: flex;
       flex-direction:column!important;
       padding: 1em!important;
    }
    .tittleProjects{
        font-size: 2.8em;
        padding-top: 0%;
        padding-bottom: 1%;
      }
      .card{
        background-color: #ffffff16;
        color: #f6fcfa;
        border-radius: 4px;
        height: 10em;
        width: 15em!important;
        /* padding: 10px; */
        margin: 10px;
        text-align: center;
    }
    .slider{
        width: 17em!important;
        margin-left: 0!important;
        margin-right: 0!important;
    padding: 0!important;

    }
}

@media screen and (min-width:1200px ){
   
      .card{
        background-color: #303741;
        color: #f6fcfa;
        border-radius: 4px;
        height: 10em;
        width: 20em!important;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    .slider{
        width: 25em!important;
        margin-left: 0!important;
        margin-right: 0!important;
    padding: 0!important;

    }
}