.containerSobreMi{
    position: relative;
    padding-bottom: 20px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    overflow: hidden; /* Oculta el contenido que se desborda */
    
}
.containerSobreMi::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#418b79;
}
.containerSobreMi:hover::after{
  animation: slide 5s linear  ; 
  animation-iteration-count: 0.25;
  
}

.colFotCv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
}

.fotCv{
    height: 75%;
    width: 50%;
    
    margin: 0;

}
.colTittleSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
.tittleSkills{
  
    transform: rotate(0deg); 
    padding-top: 3%;
    font-size: 3em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colSobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:5%;
    padding: 0;
    padding-top: 5%;
    color: #f5f6f6;
    /* font-family: "Gill Sans";
    font-size: 1.3rem; */
}



@media (max-width:500px ){
    .fotCv{
        height: 100%;
        width: 50%;
        margin: 0;
    
    }
}

@media (max-width:1200px ){
    .fotCv{
        height: 60%;
        width: 50%;
        margin: 0;
    }
}

@media (max-width:990px ){
    .fotCv{
        height: 40%;
        width: 60%;       
        margin: 0;
    
    }
}
@media (max-width:768px ){
    .fotCv{
        height: 100%;
        width: 50%;        
        margin: 0;
    
    }
}