.containerSobreMi{
    position: relative;
    padding-bottom: 20px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    overflow: hidden; /* Oculta el contenido que se desborda */
    padding-top:0.5em;    
}
.containerSobreMi::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#418b79;
}
.containerSobreMi:hover::after{
  animation: slide 5s linear  ; 
  animation-iteration-count: 0.25;
  
}


.colTittleSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
.tittleSkills{
  
    transform: rotate(0deg); 
    padding-top: 3%;
    font-size: 3em;
    color: #2fe7b9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colSobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:5%;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f6f6;
}
.nameRow{
    font-weight: 700;
}



@media screen and (max-width:768px ){
    .rowSobreMi{
       display: flex;
       flex-direction:column;
       padding: 1em!important;
    }
    .tittleSkills{
        font-size: 2.8em;
        padding-top: 0%;
        padding-bottom: 1%;
      }
}