.navbar {
    background-color: #26292c;
    color: #f5f6f6!important;
  }
  
  .navbar-bg {
    background-color: #26292cbc;
  }
  .tituloNav{
    color: #f5f6f6!important;
  }
  .linksNav{
    
color: #f5f6f6!important;
 font-size: 1.3rem;

 word-wrap: break-word!important
  }

.linksNav:hover{
  color:#418b79!important
}

.colorChangeBrand{
  color: #f5f6f6;
}